@import url('./fonts.css');

.iti {
    display: block !important;
}

body {
    font-family: LamaSans-Regular, Arial, sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: LamaSans-Bold, Arial, sans-serif;
}


/* Paragraphs */
p {
  font-family: LamaSans-Regular, Arial, sans-serif;
  
}

span {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}